
name: CI-vault-wokflow

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install jq
        uses: dcarbone/install-jq-action@v2.0.0
  
      - name: Generate IAM from Vault
        run: |
          curl \
            -H "X-Vault-Token: ${{ secrets.VAULT_TOKEN }}" \
            --location "${{ secrets.VAULT_ADDR }}/v1/aws/creds/pipeline" > tmp.json

          AWS_ACCESS_KEY_ID="$(jq -e '.data.access_key' ./tmp.json)"
          echo "::add-mask::$AWS_ACCESS_KEY_ID" 
          echo "aws_access_key_id=$AWS_ACCESS_KEY_ID" >> $GITHUB_ENV

          AWS_SECRET_ACCESS_KEY="$(jq -e '.data.secret_key' ./tmp.json)"
          echo "::add-mask::$AWS_SECRET_ACCESS_KEY" 
          echo "aws_secret_access_key=$AWS_SECRET_ACCESS_KEY" >> $GITHUB_ENV

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ env.aws_access_key_id }}
          aws-secret-access-key: ${{ env.aws_secret_access_key }}
          aws-region: us-east-1
      
      - name: Install Vkpr
        shell: bash
        run: |
          curl -fsSL https://get.vkpr.net/ | CONTROL_SKIP="true" bash
          rit update repo --name="vkpr-cli" --version=1.3.5

      ### Configure VKPR Credentials
      - name: config vkpr credentials
        shell: bash
        run: |
          alias vkpr="rit vkpr"
          rit set credential --provider="aws" \
              --fields="accesskeyid,region,secretaccesskey" \
              --values="${{ env.AWS_ACCESS_KEY_ID }},us-east-1,${{ env.AWS_SECRET_ACCESS_KEY }}" 

      - name: Vkpr apply
        run: |
          shopt -s expand_aliases
          alias vkpr="rit vkpr"
          aws eks update-kubeconfig --name ${{ secrets.CLUSTER_NAME}} --region us-east-1
          vkpr apply --path_to_file="$(pwd)/vkpr.yaml"
